<menu class="menu">
  <div class="container-personal">
    <div class="wrap">
      <img src="../assets/image/logo.svg" alt="Logo image">
      <ul class="menu-list">
        <li *ngFor="let menuItem of menuList">
          <a [class]="'menu-btn ' + activeClassMenuItem(menuItem.content)"
             [href]="'#' + menuItem.href" (click)="activeMenuItem = menuItem.content">
            {{ menuItem.content }}
          </a>
        </li>
      </ul>
      <button class="menu-burger" (click)="openBurgerMenu()"></button>
    </div>
  </div>
</menu>
<header class="header" id="header">
  <div class="container-personal">
    <div class="wrap">
      <div class="box-personal">
        <h2>Test assignment for front-end developers</h2>
        <p class="header-paragraph">Front-end developers make sure the user sees and interacts with all the necessary
          elements to ensure conversion. Therefore, responsive design, programming languages and specific frameworks
          are the must-have skillsets to look for when assessing your front-end developers.</p>
        <app-button (clickBtn)="openModal()" [textBtn]="'Sign up'"></app-button>
      </div>
    </div>
  </div>
</header>
<section class="section">
  <div class="container-personal">
    <div class="acquaintance">
      <img class="acquaintance-img" src="../assets/image/acquaintance-img.svg" alt="Acquaintance image">
      <div class="box-personal">
        <h2 class="acquaintance-header">Let's get acquainted</h2>
        <h3 class="acquaintance-title">I'm a good front-end developer</h3>
        <p class="acquaintance-paragraph">What defines a good front-end developer is one that has skilled knowledge of
          HTML, CSS, JS with a vast understanding of User design thinking as they'll be building web interfaces with
          accessibility in mind. They should also be excited to learn, as the world of Front-End Development keeps
          evolving.</p>
        <app-button (clickBtn)="openModal()" [textBtn]="'Sign up'"></app-button>
      </div>
    </div>
    <div class="users-block">
      <div id="users"></div>
      <h2 class="block-header">Our cheerful users</h2>
      <p class="block-title">The best specialists are shown below</p>
      <div class="cards">
        <div class="card" *ngFor="let user of users, let i = index">
          <img class="card-img"
               src="{{ user?.photo }}"
               alt="Card image"
               (error)="errorImgCard(user.id)">
          <span class="card-title"
                mdbTooltip="{{ user.name }}"
                placement="bottom">
            {{ user.name}}
          </span>
          <span mdbTooltip="{{ user.position}}" placement="bottom">{{ user.position}}</span>
          <p mdbTooltip="{{ user.email }}" placement="bottom">{{ user.email}}</p>
          <p mdbTooltip="{{ user.phone }}" placement="bottom">{{ user.phone}}</p>
        </div>
      </div>
      <div class="wrap-btn">
        <app-button (clickBtn)="clickShowMore()" [disabled]="disabledBtn" [textBtn]="'Show more'"></app-button>
      </div>
    </div>
    <form class="register-block" [formGroup]="form" novalidate>
      <div id="register"></div>
      <h2 class="block-header">Register to get a work</h2>
      <p class="block-title">Your personal data is stored according to the Privacy Policy</p>
      <div class="mdb-input-wrap">
        <mdb-form-control>
          <input class="form-control" mdbInput type="text" id="name"
                 [class.ng-touched]="name!.errors?.['serverError']"
                 formControlName="name" mdbValidate="false"/>
          <label mdbLabel class="form-label" for="name">Your name</label>
          <span class="input-error"
                [hidden]="!form.get('name')!.dirty || form.get('name')!.valid || name!.errors?.['serverError']">
            {{ name!.errors?.['serverError'] || 'Invalid' }}
          </span>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="email" id="email" class="form-control" formControlName="email" mdbValidate="false"/>
          <label mdbLabel class="form-label" for="email">Email</label>
          <span class="input-error"
                [hidden]="!form.get('email')!.dirty || form.get('email')!.valid || email!.errors?.['serverError']">
            {{ email!.errors?.['serverError'] || 'Invalid' }}
          </span>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="tel" id="phone" class="form-control" formControlName="phone" mdbValidate="false"/>
          <label mdbLabel class="form-label" for="phone">Phone</label>
          <span class="input-error"
                [hidden]="!form.get('phone')!.dirty || form.get('phone')!.valid || phone!.errors?.['serverError']">
            {{ phone!.errors?.['serverError'] || 'Invalid' }}
          </span>
        </mdb-form-control>
      </div>
      <div class="mdb-input-buttons-wrap">
        <span class="radio-buttons-title">Select your position</span>
        <ul class="radio-buttons-wrap">
          <li class="radio-buttons-box" *ngFor="let position of positions">
            <input id="{{position.id}}" type="radio" value="{{ position.id }}" name="position_id" class="options-input"
                   formControlName="position_id">
            <label for="{{position.id}}" class="options-label">{{ position.name }}</label>
          </li>
        </ul>
        <label class="block-file">
          <input class="block-file-input" type="file" name="file" accept="image/jpeg" (change)="onFileChanged($event)">
          <span class="block-file-label">Upload</span>
          <span class="block-file-photo">{{photoName}}</span>
        </label>
      </div>
      <div class="wrap-btn">
        <app-button (clickBtn)="createdUser()" [disabled]="disabledCreatedUserBtn" [textBtn]="'Sign up'"></app-button>
      </div>
    </form>
  </div>
</section>
<footer class="footer">
  <span class="footer-title">© abz.agency specially for the test task</span>
</footer>
