.modal-dialog-my
  position: relative

  .modal-content-my
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, 50%)
    box-sizing: border-box
    background-color: #FFFFFF
    border-radius: 4px
    padding: 24px
    max-width: 452px
    min-width: 328px
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%)

    .modal-header-my
      .modal-title
        font-size: 22px
        line-height: 31px
        color: #000
        margin-bottom: 6px

      .modal-paragraph
        font-size: 16px
        line-height: 26px
        color: rgba(0, 0, 0, 0.87)
        margin-bottom: 33px

    .modal-footer-my
      display: flex
      justify-content: end
