.container
  width: 1170px
  margin: 0 auto
  height: inherit

.menu
  position: sticky
  top: 0
  background-color: #fff
  box-shadow: 0 4px 15px rgba(0, 0, 0, .15)
  height: 60px

  .wrap
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%

    li
      display: inline-block
      margin-left: 30.5px

.header
  background-color: #EDECEA
  background-position: center
  background-repeat: no-repeat
  background-image: url("../../assets/image/header-img.svg")
  height: 650px

  .wrap
    display: flex
    align-items: center
    height: inherit

    .box
      width: 540px

      .header-title
        font-weight: 400
        font-size: 40px
        line-height: 40px

      .header-paragraph
        margin: 21px 0 25px
        font-weight: 400
        font-size: 16px
        line-height: 26px

.acquaintance
  background: #F8F8F8
  padding: 180px 0 175px

  .wrap
    display: flex
    justify-content: space-between
    .box
      width: 680px
      display: flex
      flex-direction: column
      align-items: end
      justify-content: center

      .acquaintance-header
        margin-top: 3px
        font-weight: 400
        font-size: 40px
        line-height: 40px

      .acquaintance-title
        margin-top: 10px
        font-weight: 400
        font-size: 22px
        line-height: 28px

      .acquaintance-paragraph
        margin: 20px 0 31px
        font-weight: 400
        font-size: 16px
        line-height: 26px
        text-align: right

.sign-up
  width: 148px
  height: 50px
  background: #F4E041
  border-radius: 80px
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 26px


