<menu class="menu">
  <div class="container-personal">
    <div class="wrap">
      <img src="../../assets/image/logo.svg" alt="Logo image">
      <div class="menu-list">
        <div class="wrap-link"><a class="menu-btn active" href="#">About me</a></div>
        <div class="wrap-link"><a class="menu-btn" href="#">Relationships</a></div>
        <div class="wrap-link"><a class="menu-btn" href="#">Requirements</a></div>
        <div class="wrap-link"><a class="menu-btn" href="#">Users</a></div>
        <div class="wrap-link"><a class="menu-btn" href="#">Sign Up</a></div>
        <div class="menu-burger"></div>
      </div>
    </div>
  </div>
</menu>
<header class="header">
  <div class="container-personal">
    <div class="wrap">
      <div class="box-personal">
        <h2>Test assignment for front-end developers</h2>
        <p class="header-paragraph">Front-end developers make sure the user sees and interacts with all the necessary
          elements to ensure conversion. Therefore, responsive design, programming languages and specific frameworks
          are the must-have skillsets to look for when assessing your front-end developers.</p>
        <button class="button">Sign up</button>
      </div>
    </div>
  </div>
</header>
<section class="section">
  <div class="container-personal">
    <div class="acquaintance">
      <img class="acquaintance-img" src="../../assets/image/acquaintance-img.svg" alt="Acquaintance image">
      <div class="box-personal">
        <h2 class="acquaintance-header">Let's get acquainted</h2>
        <h3 class="acquaintance-title">I'm a good front-end developer</h3>
        <p class="acquaintance-paragraph">What defines a good front-end developer is one that has skilled knowledge of
          HTML, CSS, JS with a vast understanding of User design thinking as they'll be building web interfaces with
          accessibility in mind. They should also be excited to learn, as the world of Front-End Development keeps
          evolving.</p>
        <button class="button">Sign up</button>
      </div>
    </div>
    <div class="users-block">
      <h2 class="block-header">Our cheerful users</h2>
      <p class="block-title">The best specialists are shown below</p>


      <div class="cards">
        <div class="card">
          <img class="card-img" src="../../assets/image/card-img.svg" alt="Card image">
          <span class="card-title"
                mdbTooltip="Tooltip on bottom"
                placement="bottom">
            Salvador Stewart Flynn Thomas Salva Obed Harri wqdqdq qddads dasdasdasd
          </span>
          <span mdbTooltip="Tooltip on bottom" placement="bottom">Leading specialist of the department of control over
            the biggest dsfdsfsdfsdsa wdas asd </span>
          <p mdbTooltip="Tooltip on bottom" placement="bottom">JeromeKlarkaJeromeKlarka@gmail.com</p>
          <p>+38 (098) 278 76 24</p>
        </div>


        <div class="card">
          <img class="card-img" src="../../assets/image/card-img.svg" alt="Card image">
          <span class="card-title">Takamaru Ayako Jurrien</span>
          <span>Leading specialist of the department of control over the biggest dsfdsfsdfsdsa wdas asd </span>
          <p>JeromeKlarkaJeromeKlarka@gmail.com</p>
          <p>+38 (098) 278 76 24</p>
        </div>
        <div class="card">
          <img class="card-img" src="../../assets/image/card-img.svg" alt="Card image">
          <span class="card-title">Ilya</span>
          <span>Leading specialist of the department of control over the biggest dsfdsfsdfsdsa wdas asd </span>
          <p>JeromeKlarkaJeromeKlarka@gmail.com</p>
          <p>+38 (098) 278 76 24</p>
        </div>
        <div class="card">
          <img class="card-img" src="../../assets/image/card-img.svg" alt="Card image">
          <span class="card-title">Salvador Stewart Flynn Thomas Salva Obed Harri wqdqdq qddads dasdasdasd</span>
          <span>Leading specialist of the department of control over the biggest dsfdsfsdfsdsa wdas asd </span>
          <p>JeromeKlarkaJeromeKlarka@gmail.com</p>
          <p>+38 (098) 278 76 24</p>
        </div>
        <div class="card">
          <img class="card-img" src="../../assets/image/card-img.svg" alt="Card image">
          <span class="card-title">Salvador Stewart Flynn Thomas Salva Obed Harri wqdqdq qddads dasdasdasd</span>
          <span>Leading specialist of the department of control over the biggest dsfdsfsdfsdsa wdas asd </span>
          <p>JeromeKlarkaJeromeKlarka@gmail.com</p>
          <p>+38 (098) 278 76 24</p>
        </div>
        <div class="card">
          <img class="card-img" src="../../assets/image/card-img.svg" alt="Card image">
          <span class="card-title">Salvador Stewart Flynn Thomas Salva Obed Harri wqdqdq qddads dasdasdasd</span>
          <span>Leading specialist of the department of control over the biggest dsfdsfsdfsdsa wdas asd </span>
          <p>JeromeKlarkaJeromeKlarka@gmail.com</p>
          <p>+38 (098) 278 76 24</p>
        </div>
        <div class="card">
          <img class="card-img" src="../../assets/image/card-img.svg" alt="Card image">
          <span class="card-title">Salvador Stewart Flynn Thomas Salva Obed Harri wqdqdq qddads dasdasdasd</span>
          <span>Leading specialist of the department of control over the biggest dsfdsfsdfsdsa wdas asd </span>
          <p>JeromeKlarkaJeromeKlarka@gmail.com</p>
          <p>+38 (098) 278 76 24</p>
        </div>
        <div class="card">
          <img class="card-img" src="../../assets/image/card-img.svg" alt="Card image">
          <span class="card-title">Salvador Stewart Flynn Thomas Salva Obed Harri wqdqdq qddads dasdasdasd</span>
          <span>Leading specialist of the department of control over the biggest dsfdsfsdfsdsa wdas asd </span>
          <p>JeromeKlarkaJeromeKlarka@gmail.com</p>
          <p>+38 (098) 278 76 24</p>
        </div>
      </div>
      <div class="wrap-btn">
        <button class="button">Show more</button>
      </div>
    </div>
    <div class="register-block">
      <h2 class="block-header">Register to get a work</h2>
      <p class="block-title">Your personal data is stored according to the Privacy Policy</p>
      <div class="mdb-input-wrap">
        <mdb-form-control>
          <input mdbInput type="text" id="typeText" class="form-control" />
          <label mdbLabel class="form-label" for="typeText">Your name</label>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="email" id="typeEmail" class="form-control" />
          <label mdbLabel class="form-label" for="typeEmail">Email</label>
        </mdb-form-control>
        <mdb-form-control>
          <input mdbInput type="tel" id="typePhone" class="form-control" />
          <label mdbLabel class="form-label" for="typePhone">Phone</label>
        </mdb-form-control>
      </div>
      <div class="mdb-input-buttons-wrap">
        <span class="radio-buttons-title">Select your position</span>
        <div class="radio-buttons-wrap">
          <input id="f-d" type="radio" name="select-position" class="options-input" checked>
          <label for="f-d" class="options-label">Frontend developer</label>
          <input id="b-d" type="radio" name="select-position" class="options-input">
          <label for="b-d" class="options-label">Backend developer</label>
          <input id="d" type="radio"  name="select-position" class="options-input">
          <label for="d" class="options-label">Designer</label>
          <input id="qa" type="radio" name="select-position" class="options-input">
          <label for="qa" class="options-label">QA</label>
        </div>
        <label class="block-file">
          <input class="block-file-input" type="file" name="file" accept="image/*">
          <span class="block-file-label">Upload</span>
          <span class="block-file-photo">Upload your photo</span>
        </label>
      </div>
      <div class="wrap-btn">
        <button class="button" disabled>Sign up</button>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <span class="footer-title">© abz.agency specially for the test task</span>
</footer>
