.container-personal
  max-width: 1200px
  margin: 0 auto
  height: inherit
  padding: 0 15px

.menu
  position: sticky
  top: 0
  background-color: #fff
  box-shadow: 0 4px 15px rgba(0, 0, 0, .15)
  height: 60px
  z-index: 1
  width: 100%

  .wrap
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%

    .wrap-link
      display: inline-block

      .menu-btn
        padding: 7px 15.2px
        font-size: 16px
        line-height: 56px
        transition: all 0.2s ease-in-out
        &:hover
          background: rgba(0, 189, 211, 0.1)
          border-radius: 4px
          color: #00BDD3
        &.active
          color: #00BDD3

    .menu-burger
      display: none
      background-image: url("../../assets/image/burger-menu-img.svg")
      width: 18px
      height: 12px
      margin-right: 3px

.header
  background-color: #EDECEA
  background-position: center
  background-repeat: no-repeat
  background-image: url("../../assets/image/header-img.svg")
  height: 650px

  .wrap
    display: flex
    align-items: center
    height: inherit

    .box-personal
      width: 540px

      .header-paragraph
        margin: 21px 0 22px
        font-size: 16px
        line-height: 26px

.section
  background-color: #F8F8F8
  background-image: url("../../assets/image/trace.svg")
  background-repeat: no-repeat
  background-position: bottom right

  .acquaintance
    padding: 180px 0 190px
    display: flex
    justify-content: space-between
    .box-personal
      width: 680px
      display: flex
      flex-direction: column
      align-items: end
      justify-content: center

      .acquaintance-header
        margin-top: 3px

      .acquaintance-title
        margin: 10px 0 0 0
        font-size: 22px
        line-height: 28px

      .acquaintance-paragraph
        margin: 20px 0 31px
        font-size: 16px
        line-height: 26px
        text-align: right

  .block-header
    text-align: center

  .block-title
    font-size: 22px
    line-height: 28px
    text-align: center
    margin-top: 10px

  .users-block
    margin-bottom: 175px

    .cards
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 30px
      margin: 32px 0 50px

      .card
        background: #FFFFFF
        border-radius: 10px
        padding: 36px 30px 28px
        display: flex
        flex-direction: column
        align-items: center

        .card-img
          max-width: 70px
          height: 70px
          border-radius: 50%
          margin-bottom: 15px

        span
          font-size: 16px
          line-height: 26px
          display: -webkit-box
          -webkit-line-clamp: 2
          -webkit-box-orient: vertical
          overflow: hidden
          text-align: center

        .card-title
          font-size: 22px
          line-height: 28px
          margin-bottom: 4px

        p
          font-size: 16px
          line-height: 26px
          max-width: 100%
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          text-align: center

  .register-block
    padding-bottom: 180px

    .mdb-input-wrap
      margin: 32px 0 43px
      display: grid
      grid-row-gap: 50px

    .mdb-input-buttons-wrap
      width: 380px
      margin: 0 auto 50px
      display: flex
      flex-direction: column
      align-items: start

      .radio-buttons-title
        font-size: 16px
        line-height: 26px

      .radio-buttons-wrap
        display: grid
        grid-gap: 7px
        margin: 10px 0 47px

    // mdb-input ----------------------------------
    .form-outline
      width: 380px
      height: 54px
      padding: 0
      margin: 0 auto
      border: none

      .form-control
        width: 380px
        height: 54px
        font-size: 16px
        line-height: 26px
        padding: 16px 14px
        border-radius: 4px
        transform: translate(0, 0)
        &:focus ~ .form-label
          color: #00BDD3
          transform: translateX(-4px) translateY(-22px) scale(0.8)
        &:active
          //transform: translateX(4px) translateY(22px)

      .form-label
        font-size: 16px
        line-height: 25px
        left: 16px




  .wrap-btn
    display: flex
    justify-content: center

.footer
  display: flex
  justify-content: center
  align-items: center
  height: 57px
  border-top: 1px solid #E0E0E0

  .footer-title
    font-size: 16px
    line-height: 26px

// input-radio options -----------------------
.options-input
  display: none

.options-input:checked + .options-label::after
  transform: scale(1)

.options-label
  display: inline-flex
  align-items: center
  position: relative
  white-space: nowrap
  font-size: 16px
  line-height: 26px

.options-label::before
  content: ''
  flex: 0 0 20px
  height: 20px
  border: 1px solid #00BDD3
  border-radius: 50%
  margin-right: 12px

.options-label::after
  content: ''
  position: absolute
  top: 7.5px
  left: 5px
  width: 10px
  height: 10px
  background-color: #00BDD3
  border-radius: 50%
  transform: scale(0)
  transition: transform 0.5s ease 0s

// options button
.button
  overflow: hidden
  position: relative
  width: 148px
  height: 50px
  background: #F4E041
  border-radius: 80px
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 26px
  &:after
    position: absolute
    content: ''
    top: 0
    left: 50%
    width: 0
    height: 0
    background: rgba(126, 126, 126, 0.5)
    border-radius: 80px
    transition: all 0.3s ease-in-out
  &:hover
    background: #FFE302
  &:disabled
    background: #B4B4B4
    color: #fff
  &:focus
    &:after
      top: 0
      left: 7px
      width: 134px
      height: 86px
      transition: all 0.3s ease-in-out
  &:active
    &:after
      top: 0
      left: 14px
      width: 120px
      height: 50px
      border-radius: 80px
      transition: all 0.3s ease-in-out

// file-label-input
.block-file
  display: flex

  span
    font-size: 16px
    line-height: 140%
    cursor: pointer

  .block-file-input
    display: none

  .block-file-label
    display: inline-block
    width: 83px
    height: 54px
    padding: 15px 16px
    border: 1px solid rgba(0, 0, 0, 0.87)
    border-radius: 4px 0 0 4px
    color: #000

  .block-file-photo
    display: inline-block
    width: 297px
    height: 54px
    color: #7E7E7E
    padding: 15px 16px
    border: 1px solid #D0CFCF
    border-left: 0
    border-radius: 0 4px 4px 0
    &:hover
      border: 1px solid rgba(0, 0, 0, 0.87)
      border-left: 0

@media (max-width: 1200px)
  .container-personal
    max-width: 934px
  .menu .wrap li .menu-btn
    padding: 7px 15.4px
  .section
    .acquaintance
      padding: 175px 0
      .box-personal
        width: 477px
        .acquaintance-header
          margin: 0
        .acquaintance-title
          margin: 10px 0 0 0
        .acquaintance-paragraph
          margin: 20px 0 32px
    .users-block .cards
      margin: 32px 0 48px
@media (max-width: 934px)
  .container-personal
    max-width: 734px
  .menu .wrap
    .wrap-link
      display: none
    .menu-burger
      display: block
  .header
    overflow: hidden
    height: 500px
    background-size: cover
    background-position-x: 46%
    background-repeat: no-repeat
    .wrap .box-personal
      width: 424px
      .header-paragraph
        margin: 21px 0 28px
  .section
    .acquaintance
      .acquaintance-img
        width: 296px
      .box-personal
        width: 366px
    .users-block .cards
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 16px


@media (max-width: 615px)
  .container-personal
    max-width: 358px
  .header
    overflow: hidden
    height: 469px
    //background-size: cover
    background-repeat: no-repeat
    background-image: url("../../assets/image/header-ms-img.svg")
    .wrap
      .box-personal
        width: 240px
        .header-paragraph
          display: -webkit-box
          -webkit-line-clamp: 4
          -webkit-box-orient: vertical
          overflow: hidden
  .section
    .acquaintance
      padding: 145px 0
      flex-direction: column
      .acquaintance-img
        width: 328px
      .box-personal
        display: block
        width: 328px
        .acquaintance-header
          margin-top: 39px
          text-align: start
        .acquaintance-title
          text-align: start
        .acquaintance-paragraph
          text-align: start
          margin: 20px 0 29px
    .users-block
      margin-bottom: 145px
      .cards
        grid-template-columns: repeat(1, 1fr)
        grid-gap: 20px
        margin: 33px 0 48px
        .card
          height: 313px
    .block-header
      margin: 0 auto
      width: 290px
    .register-block
      padding-bottom: 150px
      .mdb-input-buttons-wrap
        width: 328px
      .form-outline
        width: 328px
        .form-control
          width: 328px
    .block-file .block-file-photo
      width: 245px






